.footer {
  width: 100%;
  background: linear-gradient(180deg, #000000 20%, rgba(0, 0, 0, 0) 100%);

  .topPart {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 5px;

    .logoContainer {
      p {
        font-size: 15px;
        text-align: center;
        font-style: italic;
      }
    }

    .column {
      display: flex;
      flex-direction: column;

      h4 {
        margin-bottom: 2px;
      }

      a {
        text-decoration: none;
        color: #fff;
      }

      a:hover {
        color: #adadad;
      }

      form {
        display: flex;
        input {
          height: 35px;
          width: 75%;
          border-top: 1px solid #00ffff;
          border-bottom: 1px solid #00ffff;
          border-left: 1px solid #00ffff;
          border-right: none;
          background: transparent;
          border-radius: 50px 0 0 50px;
          padding: 0 10px;
          color: #fff;
          outline: none;
        }
        button {
          width: 25%;
          border-radius: 0 50px 50px 0;
          border-top: 1px solid #00ffff;
          border-bottom: 1px solid #00ffff;
          border-left: none;
          border-right: 1px solid #00ffff;
          background-color: #00ffff;
          color: #000;
          font-weight: 700;
          cursor: pointer;
          outline: none;
          transition: all 0.3s ease-in-out;
        }

        button:hover {
          background: transparent;
          border-right: 1px solid #00ffff;
          color: #fff;
        }
      }

      .icons8 {
        text-align: right;
        margin: auto 0 0;
      }
    }

    .column:last-child {
      width: 25%;
    }
  }

  .botPart {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    p {
      font-weight: 700;
      a {
        text-decoration: none;
        color: #00ffff;
      }
    }
  }
}

@media (max-width: 900px) {
  .footer {
    margin-top: -1px;
    padding-bottom: 100px;
    padding: 10px 5px 105px;
    .topPart {
      flex-wrap: wrap;
      justify-content: center;
      .logoContainer {
        display: none;
      }
      .column {
        width: 30%;
      }
      .column:last-child {
        width: 100%;
        margin-top: 20px;
        h4 {
          margin-bottom: 10px;
          text-align: center;
        }
        form {
          margin: auto;
          width: 80%;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 590px) {
  .footer {
    .topPart {
      .column {
        width: 50%;
        margin-bottom: 20px;
      }
      .column:nth-child(4) {
        width: 40%;
      }
      .column:last-child {
        width: 60%;
        margin: 0;
        h4 {
          margin-bottom: 10px;
          text-align: left;
        }
        form {
          margin: auto;
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
    .botPart {
      flex-direction: column;
      align-items: center;
      p {
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 420px) {
  .footer {
    .topPart {
      .column {
        width: 100% !important;
        margin-bottom: 20px;
        text-align: center;
        h4{
          text-align: center!important;
        }
      }
    }
  }
}
