.main {
  background-color: black;

  h1{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 20px;
  }

  .galery {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;

    .imageWrapper {
      width: 30%;
      height: 300px;
      margin-bottom: 30px;
      border-radius: 15px / 15px;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1px solid black;
        border-radius: 15px / 15px;
      }

      .shadow {
        box-shadow: inset 0px 0px 30px 20px #000000;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
      }
    }
  }
}

@media(max-width: 900px){
    .mobile{
        width: 100%;
        padding-top: 100px;

        .imageWrapper{
            margin-left: 10px;
            margin-right: 10px;
            width: 250px!important;
            height: 250px!important;
        }
    }
}
