.transparentBg {
  margin-top: -1px;
  margin-bottom: -1px;
  padding: 40px 0;
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.2) 50%,
    #000000 100%
  );

  h2 {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
  }

  img {
    margin: auto;
    width: 500px;
    height: unset;
    object-fit: contain;
  }

  .circle {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    cursor: pointer;
    a {
      text-decoration: none;
      color: #fff;
    }
  }

  // .circle::after {
  //   opacity: 0;
  //   content: "Szczegóły poniżej...";
  //   width: 150px;
  //   height: 30px;
  //   border-radius: 5px;
  //   background-color: hsla(0, 0%, 0%, 0.8);
  //   text-align: center;
  //   position: absolute;
  //   top: -35px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   transition: all 0.3s ease-in-out;
  // }

  // .circle:hover::after {
  //   opacity: 1;
  // }

  .isometricOutdoorContainer {
    width: 500px;
    margin: auto;
    position: relative;
    .o1 {
      top: 65%;
      left: 40%;
    }
    .o2 {
      top: 55%;
      left: 53%;
    }
    .o3 {
      top: 72%;
      left: 68%;
    }
    .o4 {
      top: 28%;
      left: 45%;
    }
    .o5 {
      top: 15%;
      left: 55%;
    }
    .o6 {
      top: 45%;
      left: 13%;
    }
  }

  .isometricIndoorContainer {
    width: 500px;
    margin: auto;
    position: relative;
    .i1 {
      top: 53%;
      left: 33%;
    }
    .i2 {
      top: 78%;
      left: 55%;
    }
  }

  .isometricCarContainer {
    margin: auto;
    width: 500px;
  }
}

.blackBg {
  background: #000000;
  padding: 40px 0;
  .offerContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .offerSpec {
      padding: 5px 10px;
      margin: 10px 10px;
      height: 530px;
      width: 200px;
      border: 1px solid #00ffff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;

      .number {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid #00ffff;
        color: #00ffff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        font-size: 1.2rem;
      }
      .mainIcon {
        margin-top: 10px;
        width: 80px;
        height: unset;
        object-fit: contain;
      }
      .secondIcon {
        margin-top: 10px;
        width: 70px;
        height: unset;
        object-fit: contain;
      }
      .cyan {
        color: #00ffff;
      }
      h4 {
        margin-top: 10px;
        font-size: 1.1rem;
      }
      p:last-child {
        margin-top: 10px;
      }
    }

    .offerSpec2 {
      img {
        width: 40px !important;
      }
      .mainIcon {
        width: 80px !important;
      }
    }

    .offerSpecLong {
      height: unset;
      width: 220px;
    }
  }

  .comming {
    text-align: center;
    color: #00ffff;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}

@media (max-width: 520px) {
  .transparentBg {
    img {
      width: 300px;
    }

    .isometricOutdoorContainer,
    .isometricIndoorContainer,
    .isometricCarContainer {
      width: 300px;
    }
  }

  .blackBg {
    p:last-child {
      margin-bottom: 0px;
    }
  }
}

@media (max-width: 450px) {
  .transparentBg {
    h2 {
      font-size: 2rem;
    }
  }
  .blackBg {
    padding: 0px;
    .offerContainer {
      .offerSpec {
        width: 240px;
      }
    }
  }
}

@media (max-width: 320px) {
  .transparentBg {
    h2 {
      font-size: 2rem;
    }
    img {
      width: 250px;
    }
    .isometricOutdoorContainer,
    .isometricIndoorContainer,
    .isometricCarContainer {
      width: 250px;
    }
  }
}
